/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Sidebar*/
aside {
    font-family: "Roboto", sans-serif;
    background-color: #000;
    padding: 3rem 2rem;
    width: 20%;
    height: 100vh;
    border-top-right-radius: 10px;
}

.sidebar-title {
    color: #fff;
    margin-bottom: 2rem;
}

.sidebar-list {
    margin-top: 2rem;
}

.sidebar-btn {
    all: unset;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    color: #a8a29e;
}

.sidebar-btn:hover {
    background-color: #292524;
    color: #e7e5e4;
    cursor: pointer;
}



/* Button */
.btn-content{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #44403c;
    color: #A8A29E;
}

.btn-content:hover {
    background-color: #57534E;
    color: #f5f5f4;
    cursor: pointer;
}



/*New Project*/
.form {
    width: 35rem;
    margin-top: 32px;
}

.menu-form {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem; 
    padding: 1rem 0;
}

.cancel-btn {
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #fafaf9;
    color: #292524;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #0c0a09;
    color: #fafaf9;
    cursor: pointer;
}

.save-btn {
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #292524;
    color: #fafaf9;
    cursor: pointer;
}

.save-btn:hover {
    background-color: #0c0a09;
    cursor: pointer;
}



/*Input*/
.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 18px;
}

.input-container label {
    font-size: small;
    font-weight: bolder;
    text-transform: uppercase;
    color: #78716c;
}

textarea, input {
    padding: 1rem 1rem;
    border-radius: 4px;
    background-color: #e7e5e4;
    border: 1px solid #d6d3d1;
    color: #57534e;
}

textarea:focus, input:focus{
    outline: none;
    border: 1px solid #57534e;
}



/* NoProjectSelected */
.noproject-container {
    margin-top: 4rem;
    text-align: center;
    width: 60%;
}

.noproject-container img {
    width: 3.5rem;
    height: 3.5rem;
    margin: auto;
}

.noproject-container h2 {
    font-weight: bolder;
    margin: 1rem 0;
    color: #78716c;
}

.noproject-container > p {
    margin-bottom: 2rem;
    color: #a8a29e;
}



/* Modal */
dialog {
    border: none;
    padding: 0;
}

.modal-container {
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-container::backdrop {
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(2px);
}

.modal-container h2 {
    font-weight: bolder;
    margin: 1rem 0;
    color: #44403c;
}

.modal-container p {
    margin-bottom: 1rem;
    color: #57534e;
}

.modal-form {
    margin-top: 1rem;
    text-align: right;
}



/*SelectedProject*/
.selectedproject-container {
    width: 35rem;
    margin-top: 32px;
}

.selectedproject-container header{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 2px #d6d3d1;
}

.selectedproject-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.selectedproject-container h1 {
    font-size: x-large;
    font-weight: bolder;
    color: #57534e;
}

.selectedproject-container button {
    border: none;
    background: none;
    color: #57534e;
}

.selectedproject-container button:hover {
    color: #0c0a09;
    cursor: pointer;
}

.selectedproject-date {
    margin-bottom: 4px;
    color: #a8a29e;
    margin-bottom: 10px;
}

